h1 {
  border: 2px #eee solid;
  color: brown;
  text-align: center;
  padding: 10px;
}

.clips {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 200px);
  /* background-color: beige; */
  gap: 10px;
}

.clips > div {
  background-color: green;
  border: 2px #eee solid;
}
