[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "==1.24.1"
python-dotenv = "*"
pre-commit = "*"
flask = "*"
twitchapi = "*"
pylint = "*"
types-aiofiles = "*"
aiofiles = "*"
sqlalchemy = {extras = ["async"], version = "*"}
aiomysql = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.11"
