{% extends 'base.html' %} {% block content %}
<div class="page-title bg-secondary">
  <h1 class="centered">{% block title %} Clips {% endblock %}</h1>
  <div id="sort-container" class="form-group">
    <label for="sort-select">Sort By:</label>
    <select id="sort-select" class="form-control" style="max-width: 200px">
      <option value="latest" selected>Latest</option>
      <option value="keyword_count">Keyword Count</option>
    </select>
  </div>

  <div id="time-container" class="form-group">
    <label for="time-select">Time:</label>
    <select id="time-select" class="form-control" style="max-width: 200px">
      <option value="1">Today</option>
      <option value="7" selected>Last Week</option>
      <option value="30">Last Month</option>
      <option value="-1">All Time</option>
    </select>
  </div>
</div>

<div class="clips-container" id="main-clips-container"></div>

<script>
  let page = 1;
  const perPage = 4;
  const clipsContainer = document.getElementById("main-clips-container");
  let sortBy = "latest"; // Default sort
  const utcTimestampFromPrevDay = (lastDaysAmount) => {
    return new Date(
      new Date().getTime() - lastDaysAmount * 24 * 60 * 60 * 1000
    ).toISOString();
  };
  let lastUtcTimestamp = utcTimestampFromPrevDay(7);

  // Function to fetch and render clips
  const loadClips = async () => {
    console.log(
      `/api/clips?page=${page}&per_page=${perPage}&sort_by=${sortBy}${
        lastUtcTimestamp == null
          ? ""
          : `&last_timestamp_iso=${lastUtcTimestamp}`
      }`
    );
    const response = await fetch(
      `/api/clips?page=${page}&per_page=${perPage}&sort_by=${sortBy}${
        lastUtcTimestamp == null
          ? ""
          : `&last_timestamp_iso=${lastUtcTimestamp}`
      }`
    );
    const clips = await response.json();

    clips.forEach((clip) => {
      // Create and append new clip elements
      // This is a simplified example; you'd likely want to use a more complex HTML structure
      const clipDiv = document.createElement("div");
      clipDiv.className = "bg-secondary";
      clipDiv.innerHTML = `
          [${clip.id}] ${clip.twitch_clip_id}<br>
          ${clip.stream.channel_name}<br>
          keyword trigger: ${clip.keyword_trigger}<br>
          keyword amount: ${clip.keyword_count}<br>
          when: ${clip.created}<br>
          <iframe src="https://clips.twitch.tv/embed?clip=${clip.twitch_clip_id}&parent=localhost"
                  allowfullscreen
                  style="position: relative; height: 100%; width: 100%"
                  frameborder="0">
          </iframe>`;
      clipsContainer.appendChild(clipDiv);
    });
  };

  const loadAndCheck = async () => {
    await loadClips();
    if (window.innerHeight >= document.body.offsetHeight) {
      page++;
      await loadAndCheck();
    }
  };
  // Initial load
  loadAndCheck();

  const resetClipContainer = () => {
    page = 1; // Reset to first page
    document.getElementById("main-clips-container").innerHTML = ""; // Clear existing clips
    loadClips(); // Reload clips
  };

  // Infinite scrolling logic
  window.addEventListener("scroll", () => {
    if (window.innerHeight + window.scrollY >= document.body.offsetHeight) {
      // Reached the bottom, load more clips
      page++;
      loadClips();
    }
  });

  document
    .getElementById("sort-select")
    .addEventListener("change", function () {
      sortBy = this.value;
      console.log(sortBy);
      resetClipContainer();
    });

  document
    .getElementById("time-select")
    .addEventListener("change", function () {
      if (this.value == "-1") {
        lastUtcTimestamp = null;
      } else {
        lastUtcTimestamp = utcTimestampFromPrevDay(this.value);
      }
      console.log(lastUtcTimestamp);
      resetClipContainer();
    });
</script>

{% endblock %}
