body {
  color: #36454f;
  font-family: "Merriweather", "Georgia", serif;
}

.bg-primary {
  background-color: #001f3f !important;
}
.bg-secondary {
  background-color: #faf3e0 !important;
}

.container {
  margin-top: 20px;
  margin-bottom: 20px;
}
/* Title Section */
h1 {
  font-size: 3rem;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.centered {
  text-align: center;
}
/* Clips Grid */
.clips {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 20px;
}

.clips > div {
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  aspect-ratio: 16 / 9;
  transition: transform 0.3s ease;
  padding: 10px;
}

.clips > div:hover {
  transform: scale(1.03);
}

.clips iframe {
  width: 100%;
  height: 100%;
}

/* Navbar */
.navbar {
  /*
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px; */
  position: relative;
  top: 0;
  width: 100%;
  z-index: 1000;
  height: 60px; /* Example height */
}

.nav-link {
  color: inherit !important;
}
.navbar-brand {
  color: inherit !important;
}
.nav-link:hover {
  color: #968f8f !important;
}
